@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: wheat;
    font-family: 'Roboto Slab', serif;
}

button {
    font-family: 'Roboto Slab', serif;
}

#header {
    grid-area: header;
}

#game {
    grid-area: game;
}

#chat {
    grid-area: chat;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 95vh minmax(7%, 20%) auto;
    grid-template-rows: 5% auto;
    grid-template-areas:
    'header header header header'
    'blackbox2 game chat blackbox';
    gap: 0;
    background-color: black;
}

@media screen and (max-width: 120vh) {
    .grid-container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 75vw auto;
        grid-template-rows: 5% auto;
        grid-template-areas:
    'header header'
    'game chat';
        gap: 0;
        background-color: black;
    }
}

@media screen and (max-width: 80vh) {
    .grid-container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 5% auto auto 0 0;
        grid-template-areas:
    'header'
    'game'
    'chat'
    'blackbox2'
    'blackbox';
        gap: 0;
        background-color: black;
    }
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
}