@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: wheat;
    font-family: 'Roboto Slab', serif;
}

button {
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    user-select: none;
}

.Button {
    background-color: rgb(0, 77, 0);
    color: white;
    box-shadow: 0 4px black;
}

.Button:hover {
    background-color: rgb(75, 134, 75);
    transition: 0.2s;
}

.Button:active {
    transition: 0.1s;
    box-shadow: 0 2px black;
    transform: translateY(2px);
}

.White {
    color: white;
    text-shadow: 1px 2px black;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 95vh minmax(7%, 20%) auto;
    grid-template-rows: 5% auto;
    grid-template-areas:
    'header header header header'
    'blackbox2 game chat blackbox';
    gap: 0;
    background-color: black;
}

@media screen and (max-width: 120vh) {
    .grid-container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 75vw auto;
        grid-template-rows: 5% auto;
        grid-template-areas:
    'header header'
    'game chat';
        gap: 0;
        background-color: black;
    }
}

@media screen and (max-width: 80vh) {
    .grid-container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 5% auto auto 0 0;
        grid-template-areas:
    'header'
    'game'
    'chat'
    'blackbox2'
    'blackbox';
        gap: 0;
        background-color: black;
    }
}

.Black {
    color: black;
    text-shadow: 1px 2px white;
}