.App {
    text-align: center;
}

#header {
    grid-area: header;
}

#game {
    grid-area: game;
}

#chat {
    grid-area: chat;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto 20%;
    grid-template-rows: 5% auto;
    grid-template-areas:
    'header header header header'
    'game game game  chat';
    gap: 10px;
    background-color: #2196F3;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
}