#header {
    grid-area: header;
}

#game {
    grid-area: game;
}

#chat {
    grid-area: chat;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 95vh minmax(7%, 20%) auto;
    grid-template-rows: 48px auto;
    grid-template-areas:
    'header header header header'
    'blackbox2 game chat blackbox';
    gap: 0;
    background-color: black;
}

@media screen and (max-width: 120vh) {
    .grid-container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 75vw auto;
        grid-template-rows: 48px auto;
        grid-template-areas:
    'header header'
    'game chat';
        gap: 0;
        background-color: black;
    }
}

@media screen and (max-width: 80vh) {
    .grid-container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 48px auto auto;
        grid-template-areas:
    'header'
    'game'
    'chat';
        gap: 0;
        background-color: black;
    }
}