.ChatWrapper {
    height: 0;
    overflow-y: auto;
    flex-grow: 1;
    width: 100%;
}

.Chat {
    margin: 16px 16px 0;
    list-style-type: none;
    padding: 0;
    padding-inline: 0;
}

.ChatMenu {
    background-color: rgb(245, 222, 179);
    box-shadow: 0 4px rgb(161, 146, 117);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.MessageMenu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.InputMessage {
    min-width: 32px;
    flex-grow: 1;
    margin: 8px 0 8px 16px;
    height: 30px;
}

.ButtonMessage {
    flex-grow: 0;
    font-size: 18px;
    height: 30px;
    margin: 16px;
}
