#board-description-top {
    grid-area: board-description-top;
}

#board-description-bottom {
    grid-area: board-description-bottom;
}

#board-description-side {
    grid-area: board-description-side;
}

#board-grid {
    grid-area: board-grid;
}

#board-grid-container {
    display: grid;
    grid-template-columns: 35px 648px 35px;
    grid-template-rows: 35px 648px 35px;
    grid-template-areas:
    'board-description-top board-description-top board-description-top'
    'board-description-left board-grid board-description-right'
    'board-description-bottom board-description-bottom board-description-bottom';
    gap: 0;
    background-color: black;
}

.container_row {
    position: relative;
    grid-area: board-description-top;
}

#player-turn-info {
    position: absolute;
    z-index: 2;
    left: 314px;
    top: 0;
    padding: 7px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
#player-turn-info p{
    color: yellow;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.layer2 {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}