.Header {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: darksalmon;
    border-bottom: solid 4px rgb(70, 0, 0);
}

.HeaderElement{
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

#lastHeaderElement{
    margin-left: auto;
}

.HeaderText{
    color: white;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 18px;
}

.HeaderButton{
    color: white;
    box-shadow: 0 4px black;
    height:30px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 8px;
}