.test{
    height: 60px;
    width: fit-content;
}
img {
    width: 60px;
    height: auto;
}
.white {
    margin: 10px;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
  }
  .red {
    margin: 10px;
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
  }